:root{
    --color-primary: #1E90FF; 
    --color-secondary: #121212; 
    --color-text-primary: #dedddd; 
    --color-text-secondary: #B0B0B0; 
    --color-footer-bg: #181818; 
    --color-footer-text: #A8A8A8; 
    --color-white: #fff; 
    --main-sections-color:#262525;
}


