:root {
  --color-primary: #ff8c42;
  --color-secondary: #121212;
  --color-text-primary: #dedddd;
  --color-text-secondary: #b0b0b0;
  --color-footer-bg: #181818;
  --color-footer-text: #a8a8a8;
  --color-white: #fff;
  --main-sections-color: #262525;
}
