:root{
    --color-primary: #008CFF;
    --color-secondary: #F9F9F9;
    --color-text-primary: #000000;
    --color-text-secondary: #404040;
    --color-footer-bg: #26272B;
    --color-footer-text: #999999;
    --color-white: #ffffff;
    --main-sections-color:#ffffff;
}